:root {
    --p1-white: hsl(0, 0%, 100%);
    --p1-stone100: hsl(30, 54%, 90%);
    --p1-stone150: hsl(30, 18%, 87%);
    --p1-stone600: hsl(30, 10%, 34%);
    --p1-stone900: hsl(24, 5%, 18%);
    --p1-brown800: hsl(14, 45%, 36%);
    --p1-rose800: hsl(332, 51%, 32%);
    --p1-rose50 : hsl(330, 100%, 98%);
}